---

import MainLayout from "../layouts/MainLayout.astro";

---


<!--  **************************************************************  -->
<!--  **********  /01-foundation/src/pages/contact.astro  **********  -->
<!--  **************************************************************  -->

<MainLayout title="Contact Page">

    <h1> Contact </h1>

</MainLayout>
