---

const navTitle = 'Navigation';

---

<!--  ******************************************************************  -->
<!--  **********  /01-foundation/src/components/NavBar.astro  **********  -->
<!--  ******************************************************************  -->


<span> {navTitle} </span>
<nav>
    <a href="/"> Home Page </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="/about"> About Page </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="/contact"> Contact Page </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="/aleat"> Not Found Page | 404 </a>
</nav>
