---

import { ViewTransitions } from "astro:transitions";
import "../styles/404.css";

interface Props {
    title: string;
    age?: number;
    isActive?: boolean;
}

const { title, age, isActive } = Astro.props;

---

<!-- *******************************************************************  -->
<!-- **********  01/foundation/src/layout/Main404.astro  ***************  -->
<!-- *******************************************************************  -->


<html lang="es">
    
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>

    <body>
    
        <slot />

    </body>

</html>
